<!DOCTYPE HTML>
<html>
    <head>
        <title>Create new Customer</title>
    </head>
    <body>
        <h1>Create a New Customer</h1>
        <form action="/get/customer" method="POST">
            <label for="nameFirst">First Name:</label>
            <input type="text" name="nameFirst">
            <label for="nameLast">Last Name:</label>
            <input type="text">
            <label for="phonePrimary">Phone Number:</label>
            <input type="text">
            <label for="phoneAlternate">Alt Phone:</label>
            <input type="text">
            <label for="addressStreet">Street Address:</label>
            <input type="text">
            <label for="addressCity">City:</label>
            <input type="text">
            <label for="addressState">State:</label>
            <input type="text">
            <label for="addressPostalCode">Post Code:</label>
            <input type="text">
        </form>
    </body>
</html>