<!DOCTYPE HTML>
<html>
    <head>
        <title>Welcome to Sellerman.</title>
    </head>
    <body>
        <h1>Welcome to Sellerman.</h1>
        <p>Lorem Ipsum and the like.</p>
    </body>
</html>